body, header, main, div {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  text-align: center;
}
body {
  background-color: #555555;
}

header {
  background-color: #111111;
}

main > section > div {
  width: 80%;
  margin-top: 50px;
  background-color: #999999;
}

main > section > div > img {
  width: 60%;
  margin: auto;
  margin-top: 40px; 
}

main > section > div > h2 {
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff;
}

main > section > div > h3 {
  margin-top: 10px; 
}

main > section > div > a {
  width: 60%;
  height: 60px;
  line-height: 60px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}